body {
    position: relative;
}

.container {
    background-color: var(--color2);
    position: relative;
    z-index: 0;
}

.containerLinkHome{
    background-color: var(--color2);
}
.containerLink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color2);    
}

.container2 {
    background-color: var(--color2);
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.imagebackground {
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.cover {
    width: 100%;
    object-fit:cover;
    opacity: 0.6;
}

.footersocial {
    background-color: var(--color3);
}