.containercard{
    margin: auto; 
    padding: 2rem;
    gap: 2.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.containercard span{
    color: var(--color3);
    font-size: 35px;
    
}

@media only screen and (max-width: 768px) {
    .containercard{
        padding: 0 1.5rem;
        grid-template-columns: 1fr;
    }
    
    .containercard span{
        font-size: 20px;   
    }    
}