.container{
    width: 100%;
    display: grid;
    margin: auto;
    
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem 1.5rem;
   
}

.verticalline{
    border: none;
    background-color: var(--color1);
    height: 1px;
    width: 100%;
    
}

.projects{
    display: grid;
    align-items: center;
    padding: 3.5rem;
   
}

.caption{
    font-size: xx-large;
    color: var(--color4);
    padding: 4rem 0 1.5rem 0;
}

.caption:first-child{
    padding-bottom: 4rem;
    padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
    .menu {
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
    .wrapper{
        display: grid;
        padding: 0 1.5rem;
    }
    .caption{
        font-size: x-large;
        color: var(--color4);
        padding: 4rem 0 1.5rem 0;
    }    
} 


