html {
    background-color: var(--color2);
}

header {
    background-color: var(--color2);
}

.container {
    background-color: var(--color2);
    padding: 60px 0px 60px 0px;
}

.subcontainer {
    width: 100%;
    background-color: var(--color2);
    border-top: 2px  solid #DD4765;
    border-bottom: 2px  solid #DD4765;
    display: flex;
}

.description {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 50px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.description:after {
    content: "";
    background-image: url(https://raw.githubusercontent.com/nadiduno/portfolioComunidadeToti/main/src/assets/photoman.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    filter: opacity(0.6);
    position: absolute;
    display: block;
    width: 100%;
    height: -webkit-fill-available;
    top: 0;
    left: 0;
    z-index: -1; 
}

.description h2 {
    font-family: roboto;
    margin-bottom: 70px;
    color: #DD4765;
    font-weight: 300;
    text-transform: capitalize;
}

.name {
    font-family: roboto;
    line-height: 90px;
}

.name h1 {
    text-transform: uppercase;
}

.name h3 {
    text-transform: capitalize;
    opacity: 20%;
}

.comunication {
    padding: 50px 0px 60px 50px;
    display: flex;
    gap: 60px;
}


/* Estilos específicos para dispositivos con un ancho máximo de 768px*/
@media only screen and (max-width: 1210px) {
    .subcontainer {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .description {
        margin: 0;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding-top: 50px;
    }

    .description:after {
        background-position: center;
    }

    .description h2 {
        margin: 0;
        font-size: 40px;
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .name h1 {
        font-size: 60px;
    }

    .name h3 {
        font-size: 40px;
    }

    .comunication {
        font-size: 50px;
    }

    .comunication {
        margin: 0;
        padding: 0;
    }
}

  @media only screen and (max-width: 700px) {
    .subcontainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .description {
        align-items: center;
        padding-top: 30px; /* Ajusta según sea necesario */
    }

    .description h2 {
        font-size: 40px;
    }

    .name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name h1 {
        font-size: 45px;
    }

    .name h3 {
        font-size: 30px;
    }

    .comunication {
        font-size: 40px;
    }
}

  @media only screen and (max-width: 400px) {
    .name {
        width: 50%;
    }
}