html {
    background-color: var(--color2);
}

header {
    background-color: var(--color2);
}

.container {
    width: 100%;
    background-color: var(--color2);
    border-top: 2px  solid #DD4765;
    border-bottom: 2px  solid #DD4765;
    display: flex;
}

.description {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    margin: 40px 0px 0px 50px;
    position: relative;
    z-index: 1;
}

.description h2 {
    font-family: roboto;
    margin-bottom: 70px;
    color: #DD4765;
    font-weight: 300;
    text-transform: capitalize;
}

.nome {
    font-family: roboto;
    line-height: 90px;
}

.nome h1 {
    text-transform: uppercase;
}

.nome h3 {
    text-transform: capitalize;
    opacity: 20%;
}

.comunication {
    padding: 50px 0px 60px 50px;
    display: flex;
    gap: 60px;
}

.imagenContacto {
    margin: 80px 0px 0px 0px;
    position: absolute;
    align-self: flex-end;
    right: 0;
    z-index: 0;
}