.container{
    width: 100%;
    display: grid;
    margin: auto;
}

.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem 1.5rem;
}

.verticalline{
    border: none;
    background-color: var(--color1);
    height: 1px;
    width: 100%;
}

.projects{
    display: grid;
    align-items: center;
    padding: 3.5rem;
}