.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 2rem;
}

.collaborators {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
}

.collaborators a {
    margin-right: 2rem; 
}

.collaborators img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.collaborators a:hover{
    text-decoration: none;
    filter: drop-shadow(0 0 .75em var(--color1));
}

.spacefont{
    padding-top: 1rem;
    display: flex;
    justify-content: baseline;
}

.fontlink {
    color: var(--color2 );
}

.pipespan::after {
    content: "|"; 
    margin: 0 0.25rem;
    color: var(--color2); 
}