.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 2rem;
}

.collaborators {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    gap: 2rem; 
}

.collaborators a {
    margin-right: 2rem; 
    transition: transform 0.3s ease-in-out;
    opacity: 1;
}

.collaborators img {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-items: center;
    align-items: center;
}

.collaborators a:hover{
    text-decoration: none;
    filter: drop-shadow(0 0 .75em var(--color1));
    transform: translateY(-3px);
    opacity: 0.8;
}

.spacefont{
    padding-top: 1rem;
    display: flex;
    justify-content: baseline;
}

.fontlink {
    color: var(--color2 );
}

.pipespan::after {
    content: "|"; 
    margin: 0 0.25rem;
    color: var(--color2); 
}

@media only screen and (max-width: 768px) {
    
    .collaborators {
        gap: 0.5rem;
    }
    .collaborators img {
        width: 3rem;
        height: 3rem;
    }
    .spacefont{
        display: grid;
        text-align: center;
        line-height: 1.5;
    }
    .pipespan::after {
        content: none;
    }        
}