.bubblechart {
    margin: 20px;
    padding: 20px;
    border: 1px solid #c90f0f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(184, 80, 10, 0.1);
  }
  
  /* Estilo para o gráfico */
  .apexchartsbubbleseries path {
    stroke-width: 2px;
  }
  
  /* Estilo para o tooltip */
  .apexchartstooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 8px 12px;
  }
  
  .apexchartstooltiptitle {
    font-weight: bold;
  }
  
  .apexchartstooltipygroup {
    margin-top: 8px;
  }
  
  .apexchartstooltipylabel {
    margin-right: 8px;
  }
  
  .apexchartstooltipmarker {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
  }
  