.menu {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-right: 8rem;
    gap: 1.5rem;
    background-color: var(--color2);
    animation: slideAnimation 3s ease forwards;
    animation-delay: calc(.1s 3 var(--color1));
    
}

.menu span:hover{
    text-decoration: none;
    filter: drop-shadow(0 0 .75em var(--color3));
    
}


 
    

span{
    color: var(--color1);
    opacity: 1;

}
span:hover{
    text-decoration: none;
    opacity: 0.7;
}

@media only screen and (max-width: 768px) {
    .menu {
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
} 

@keyframes slideAnimation{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

