.container{
    width: 100%;
    height: 24rem;
    display: grid;
    align-items: end;
}

.titlecor{
    color: var(--color3);
    font-size: 6.25rem;
}

.titlesecond{
    font-size: 6.875rem;
}
.name{
    color: var(--color4);
    font-weight: bold;
}

.linetext{
    line-height: 1.5;
}

@media only screen and (max-width: 768px) {
    .container{
        height: 16rem;
        justify-items: center;
        text-align: center
    }
    .titlecor{
        font-size: 4.25rem;
    }
    
    .titlesecond{
        font-size: 4.875rem;
    }    
}