.containerphoto{
    width: 100%;
    height: 24rem;
    display: flex;
    align-items: end;
    justify-content: center;
    animation: slideAnimation 3s ease forwards;
    animation-delay: calc(.1s 3 var(--color1));

}

.cover{
    height: 110%;
    margin-bottom: -1.5rem;
}

@media only screen and (max-width: 768px) {
    .containerphoto{
        height: 20rem;
    }
    .cover{
        margin-bottom: -0.25rem;
    }    
}

@keyframes slideAnimation{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
