.redesportafolio {
    /* background: url(src\assets\bg-redes2.svg) no-repeat; */
    /* background: url(https://github.com/nadiduno/portfolioComunidadeToti/blob/main/src/assets/bg-redes2.svg?raw=true) no-repeat; */
    /* position: fixed;     */
    right: 0;
    top: 50%;
    z-index: 99;
    /* width: 40px; */
    /* height: 220px; */
    /* margin-top: -110px; */
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    box-shadow: -4px 0px var(--color3);
    border-radius: 40px 0 0 40px;
    gap: 3rem;
}
.listinline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 11px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.ul-hidden {
    overflow: hidden;
}