:root{
    --color1: #fff;
    --color2: #000;
    --color3: #DD4765;
    --color4: #9BDEAC;
    --colorbackground: #1f1f1f;
    
    display: flex;
    justify-content: center;
}
  
:focus{
    outline: transparent;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: var(--colorbackground);
    color:var(--color1);
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    max-width: 100%;
    overflow-x: hidden;
}

body,input,textarea,button{
    font-family:'Roboto', sansserif;
    font-weight: 400;
    font-size: 1rem;
}

@media  only screen and ((min-width: 768px)) {
    body{
      width: 1200px;
    }
}
  